.statistic {
  // margin: 100px;
  margin-top: 555px;
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  transform: translateX(4px);
}

.item {
  display: flex;
  flex-direction: column;
  padding: 23px 20px 24px 20px;
  width: 184px;
  background: rgba(15, 15, 19, 1);
  border-radius: 12px;
  height: fit-content;
}

.undertitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}

.info {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  gap: 12px;
  align-items: center;
  margin-top: 53px;
}

.dot {
  width: 3px;
  height: 3px;
  min-width: 3px;
  min-height: 3px;
  transform: rotate(-45deg);
  background-color: rgba(245, 245, 255, 1);
  display: block;
}

.img {
  background: rgba(0, 0, 0, 1);
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.precente {
  color: rgba(21, 255, 171, 1);
}

.price {
  color: rgba(112, 112, 124, 1);
}
